
<%= render "shared/navbar" %>
<%= render  "shared/jumbotron" %>

<h1>Current lists</h1>
<div class="container" style='width: 1000px;'>
  <div class="row">
    <%= render @lists %>
  </div>
</div>


<h4>Make a new list:</h4>
<%= link_to "New", new_list_path %>
