<div class="jumbotron jumbotron-fluid">
  <div class="container justify-content-center">
    <h1 class="display-4 text-center">Bookmark your favorite movies!</h1>
    <p class="lead text-center">Create lists and save movies :D</p>
    <div class='btn-center'>
      <a class="btn btn-primary btn-lg" href=<%=new_list_path%>>Add a list!</a>
    </div>
  </div>
</div>
