.jumbotron {
  color: white;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-uSnP7J8F7qmXGITOyLsP6Mneg6lftKxNqx_tAJLnuO7PyBCk2QVYQe1R61-T6_7tA3c&usqp=CAU");
  background-size: cover;
}
.btn {
  color: white;
}
.btn-center {
  text-align: center;
}
